@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

/* nav section */


nav {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    align-items: center;
    margin: 0 auto;
}

.nav-title {
    display: flex;
}

.nav-title img {
    width: 35px;
    height: 28px;
    margin-right: 5px;
    margin-top: 10px;
}

.nav-title h2{
    color: #131318;
    font-size: 36px;
    font-weight: 800;

}

.nav-title h2 span {
    color: #FF5400;
}

.nav-menu a {
    text-decoration: none;
    margin-left: 30px;
    font-size: 18px;
    color: #424247;
}

a.nav-menu-home {
    color: #FF5400;
}

/* responsive-section */

@media screen and (max-width: 600px) {
    nav{
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        width: 500px;
        margin-top: 10px;
    }

    .nav-menu{
        margin-top: 10px;
    }
}