@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}

.primary-btn {
    width: 174px;
    height: 45px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #fff;
    font-size: 13px;
    font-weight: 700;
    margin-top: 5px;
}

/* nav section */


nav {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    align-items: center;
    margin: 0 auto;
}

.nav-title {
    display: flex;
}

.nav-title img {
    width: 35px;
    height: 28px;
    margin-right: 5px;
    margin-top: 10px;
}

.nav-title h2{
    color: #131318;
    font-size: 36px;
    font-weight: 800;

}

.nav-title h2 span {
    color: #FF5400;
}

.nav-menu a {
    text-decoration: none;
    margin-left: 30px;
    font-size: 18px;
    color: #424247;
}

a.nav-menu-home {
    color: #FF5400;
}

/* header-section */
.container {
    background:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(/Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    width: 1170px;
    height: 500px;
    display: flex;
    margin: 20px auto;
    border-radius: 10px;
}

.container-items {
    width: 900px;
    margin: 0 auto;
    padding-top: 95px;
}

.heading-title h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    align-items: center;
    margin: 20px auto;
    width: 600px;
}

.heading-title p {
    width: 680px;
    margin: 20px auto;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.heading-input {
    width: 811px;
    height: 54px;
    margin: 20px auto;
    background-color: #c2b7b789;
    border-radius: 6px;
}

.heading-input input {
    padding: 12px;
    margin-right: 8px;
    border-radius: 8px;
    border: 0;
}

button.primary-btn img {
    width: 18px;
    margin-bottom: -5px;
}

/* tour section */
.tour-container {
    display: flex;
    width: 1174px;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
}

.taxt-tour-container {
    width: 560px;
}

.tour-image-container {
    width: 540px;
}

.taxt-tour-container h3 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;
}

.taxt-tour-container p, li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 30px 10px;
}

.read-more-btn {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 15px;
    border: none;
}

/* .taxt-tour-container, .tour-ul li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
} */


/* destination section */

.destination-container {
    width: 1200px;
    margin: 20px auto;
}

.destination-title {
    width: 650px;
    margin: 10px auto;
    text-align: center;
}

.destination-title h3 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 17px;
}

.destination-title p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}

.img-row-1 {
    display: flex;
    width: 1200px;
    height: 304px;
    border-radius: 15px;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.img-row-1 > div img {
    width: 100%;
    height: 100%;
    position: relative;
}

.img-row-1 > div span {
    z-index: 1;
    position: absolute;
    margin-bottom: 42px;
    color: #fff;
    margin-left: 13%;
    margin-top: 7%;
    font-size: 28px;
    font-weight: 800;
}

.img-row-2 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.img-row-2 > div span {
    z-index: 1;
    position: absolute;
    margin-bottom: 42px;
    color: #fff;
    margin-left: 10%;
    margin-top: 10%;
    font-size: 28px;
    font-weight: 800;
}

.img-row-2, > .2 span {
    z-index: 1;
    position: absolute;
    margin-bottom: 42px;
    color: #fff;
    margin-left: 10%;
    margin-top: 10%;
    font-size: 28px;
    font-weight: 800;
}

.img-row-3 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    position: relative;
}
.img-row-3 div :first-child {
    z-index: 1;
    position: absolute;
    margin-bottom: 42px;
    color: #fff;
    margin-left: 14%;
    margin-top: 12%;
    font-size: 28px;
    font-weight: 800;
}

/* why choose us section */
.choose-container {
    width: 1200px;
    margin: 20px auto;
    margin-top: 50px;
}
.choose-container h3 {
    width: 350px;
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin: 10px auto;
}

.choose-p {
    width: 640px;
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 10px auto;
}

.service-container {
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
}

.service-title-1 {
    width: 48%;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 40px;
}

.service-title-2 {
    width: 48%;
    padding: 40px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.price-title {
    width: 600px;
    padding: 40px;
    margin: 20px auto;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
/* discount-section */

.discount-container {
    width: 1200px;
    margin: 20px auto;
}

.discount-container h2 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

p.discount-p {
    width: 600px;
    margin: 10px auto;
    text-align: center;
}

.discount-img-container {
    margin: 20px auto;
}

.discount-img-container > div {
    margin: 20px auto;
}

button.packages-btn {
    width: 210px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: navajowhite;
    color: #fff;
    font-size: 20px;
    margin-left: 491px;
    margin-top: 20px;
}

/* simple-section */

section.Simple-container {
    width: 1200px;
    display: flex;
    margin: 20px auto;
}

section.Simple-container h3 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    line-height: 60px;
    width: 448px;
}
button.see-more-btn {
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    border: none;
    color: #fff;
}
/* newslittler section */

section.Newsletter-container {
    width: 1200px;
    display: flex;
    margin: 20px auto;
    justify-content: space-between;
}
.Newsletter-taxt-title {
    padding: 10px;
}

.Newsletter-taxt-title h3 {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 20px;
}

.input-newsletter input {
    width: 393px;
    display: block;
    padding: 13px;
    font-size: 20px;
    margin: 20px 0;
    border: none;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-top: 60px;
}

button.Subscribe-btn {
    width: 393px;
    height: 52px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: #fff;
    font-size: 20px;
}

span.earth-travels {
    position: absolute;
    width: 324px;
    height: 120px;
    transform: rotate(-19.628deg);
    border-radius: 16px;
    background: #FF5400;
    color: #FFF;
    margin-top: 250px;
    margin-left: 334px;
    text-align: center;
    padding: 30px;
}

.footer-container{
    background: rgba(19, 19, 24, 0.05);
    width: 1300px;
    height: 470px;
    margin: 20px auto;
}
.footer-title{
    width: 500px;
    align-items: center;
    text-align: center;
    margin: 10px auto;
}

.footer-earth {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: center;
    padding-top: 60px;
    margin: 20px auto;
}

.footer-earth img {
    width: 23px;
    margin-right: 7px;
}

.footer-earth span {
    color: #FF5400;
}

.footer-title p {
    color: #5A5A5D;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 20px auto;
}
.fo0ter-icons {
    font-size: 22px;
    border-bottom: 1px solid gray;
}

.fo0ter-icons i {
    margin-bottom: 31px;
    padding: 6px;
}
/* responsive-section */

@media screen and (max-width: 600px) {
    nav{
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        width: 500px;
        margin-top: 10px;
    }

    .container{
        width: 500px;
        height: auto;
        height: 600px;
    }
    .container-items{
        width: 500px;
        height: auto;
    }
    .heading-input{
        width: 500px;
    }
    .heading-input input{
        display: block;
        width: 255px;
        margin-left:125px;
        margin-top: 6px;
    }
    .heading-title h1{ 
        width: 430px;
        text-align: center;
        font-size: 46px;
        margin: 10px 0;
        margin-top: -58px;
    }
    .heading-title p{ 
        width: 450px;
        text-align: center;
        margin: 10px 0;
    }
    button.primary-btn{
        width: 258px;
        margin-top: 10px;
        margin-left: 122px;
    }

    .tour-container{
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        width: 450px;
        margin-top: 10px;
        align-items: center;
        text-align: center;

    }
    .tour-image-container{
        margin-top: 15px;
    }
    .destination-container{
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        width: 500px;
    }
    .destination-title{
        width: 500px;
        margin: 10px auto;
    }
    .img-row-1, 
    .img-row-2,
    .img-row-3{
        flex-direction: column;
        width: 500px;
        margin: -4px auto;
        height: auto;
    }

    .img-row-2 > div img,
    .img-row-3 > div img{
      width: 500px;
      height: 300px;
      margin: 0 auto;
      margin-top: 5px;
    }

    .choose-container{
        width: 500px;
    }
    
    .service-container{
        flex-direction: column;
        width: 500px;
        margin: -4px auto;
        height: auto;
    }

    .service-container h3 {
        width: 500px;
        margin: 0;
    }
    .choose-p{
        width: 500px;
    }

    .service-title-1,
    .service-title-2,
    .price-title{
        width: 500px;
        margin: 10px auto;
    }
    .discount-container{
        width: 500px;
    }
    .discount-p{
      width: 400px;
    }

    .discount-container img{
        width: 500px;
    }
    p.discount-p{
        width: 400px;
    }
   
    button.packages-btn{
        margin: 10px auto;
    }

    section.Simple-container{
        flex-direction: column;
        width: 500px;
    }
    .simple-image img{
        width: 500px;
        margin: 10px auto;
    }

    .Newsletter-taxt-title,
    .newslittler-image{
        flex-direction: column;
        width: 500px;
        margin: 10px 0;
    }

    section.Newsletter-container {
        width: 500px;
        flex-direction: column;
    }

    .newslittler-image img{
        position: relative;
        width: 500px;
        margin: 10px 0;
        
    }
    .earth-travels{
        left: -130px;
        top: 6392px;
        z-index: 1;
    }
    
     

    .input-newsletter input{
      width: 500px;

    }

    button.Subscribe-btn {
        width: 500px;
    }  
    .footer-container{
        width: 500px;
        margin: 10px auto;
    }
    
}
